.header-image {
    width: 100%;
    height: 100%;
}

.logo {
    width: 10%;
    padding: 1.5rem;
}

.headline {
    color: rgb(300, 300, 300);
    text-align: center;
    padding: 1rem;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(12, 9, 9);
    margin-left: 3rem;
    margin-right: 3rem;
    color: white;

}

.image-flex {
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    height: 80%;
    background-color: #5E2028;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #5E2028;
}

.Bildbeschreibung {
    margin-left: 0.5rem;
    padding-bottom: 0.4rem;
    font-weight: 600;
    font-size: 0.85rem;
    color: white;
}

.welcome-text {
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: white;
    font-size: 22px;
    font-weight: bold;
    padding-left: 2rem;
    padding-right: 2rem;
}

.red-box {
    margin-top: 1rem;
    display: inline-block;
    padding: 0rem 1rem;
    background-color: #5E2028;
    text-decoration: none;
    border-radius: 0.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.red-box-position {
    text-align: center;
}

/*css rules fot response*/
@media (max-width: 768px) {
    body {
        padding-left: 5%;
        padding-right: 5%;
    }

    .navigation {
        display: flex;
        justify-content: center;
        font-size: 1.4rem;
    }

    .welcome-text {
        margin-top: 50px;
        margin-bottom: 40px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

@media (max-width: 480px) {
    body {
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        font-size: 1.8rem;

    }

    .resp-padding {
        margin-left: 1.4rem;
    }


    .welcome-text {
        margin-top: 50px;
        margin-bottom: 40px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .headline {
        font-size: 1.4rem;
        font-weight: bold;
    }

}

/*end of index site*/

/*changes needed for about me*/

.right-text {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #5E2028;
    text-decoration: none;
    border-radius: 0.5rem;
    text-align: left;
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 1.6rem;
    color: white;
    font-size: 1.6rem;

}

.hobby-boxes {
    margin-top: 2rem;
    text-align: center;
}

.box-1 {
    margin: 2rem;
    display: inline-block;
    padding: 1rem 1.5rem;
    background-color: #5E2028;
    text-decoration: none;
    border-radius: 0.5rem;
}

.box-1:hover {
    display: inline-block;
    padding: 1rem 1.5rem;
    background-color: grey;
    color: #5E2028;
    text-decoration: none;
    border-radius: 0.5rem;
    text-align: center;
}

/*end of changes needed for about me*/

/*changes needed for gym*/

.string {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/*end of changes needed for gym*/

/*changes needed for football*/

.text {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*end of changes needed for football*/

.phone {
    color: white;
    text-align: center;
}

.footer {
    text-align: center;
    font-weight: 400;
    margin-top: 5%;
    margin-bottom: 3%;
}

.contect-button {
    margin-left: none;
}

.image {
    display: flex;          /* Aktiviert das flexible Layout */
    justify-content: center; /* Zentriert das Bild horizontal */
    align-items: center;     /* Zentriert das Bild vertikal */
    height: 100vh;          /* Die Box nutzt die volle Bildschirmhöhe */
    width: 100%;            /* Die Box nutzt die volle Breite */
}

.image img {
    max-width: 50%;         /* Bild wird auf 50% der Box verkleinert */
    height: auto;           /* Behält das Seitenverhältnis bei */
}